.advantages__title {
  font-family: "Open Sans bold", sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  margin-top: 67px;
  margin-left: 28px;
}

.advantages__list {
  margin-top: 29px;
}

.advantages__item {
  height: 124px;
  width: 280px;
}

.advantages__image {
  margin-left: 30px;
}

.advantages__description {
  font-family: "Open Sans bold", sans-serif;
  font-size: 17px;
  font-weight: bold;
  margin: 0;
  margin-top: 13px;
  margin-left: 29px;
  line-height: 20px;
}
