.advantages__title {
  font-size: 25px;
  margin: 67px 0 0 28px;
}

.advantages__list {
  margin-top: 29px;
  height: 745px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.advantages__item {
  width: 280px;
}

.advantages__image {
  margin-left: 30px;
}

.advantages__description {
  font-size: 17px;
  margin: 13px 0 0 29px;
  line-height: 20px;
}
