.main-nav__link {
  font-size: 17px;
  color: #000000;
  text-decoration: none;
  height: 79px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ececec;
}

.recycle {
  font-size: 17px;
  color: #000000;
  text-decoration: none;
  height: 79px;
  display: flex;
  background-color: #ececec;
}

.search {
  height: 79px;
  display: flex;
}
