.main-header__logo {
  height: 79px;
  display: flex;
  justify-content: center;
}

.promo {
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: #fafafa;
  background-size: auto;
  background-position: -128px -18px;
  display: flex;
  flex-direction: column;
}
