.product-week__title {
  font-family: "Open Sans bold", sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  margin-top: 27px;
  margin-left: 30px;
  width: 253px;
  display: flex;
  flex-wrap: wrap;
  line-height: 30px;
}
.product-week__status {
  font-size: 17px;
  color: #63d1bb;
  text-transform: uppercase;
  line-height: 30px;
}
.product-week__description {
  color: #444;
  font-size: 15px;
  line-height: 24px;
  margin: 0;
  margin-left: 30px;
  margin-top: 17px;
  width: 260px;
}
.table-spec {
  color: #444;
  font-size: 15px;
  margin-top: 19px;
  border-collapse: collapse;
    &__row {
      height: 40px;
    }
    &__col {
      padding-left: 31px;
    }
}
.product-week__image {
  margin-top: 28px;
  margin-left: 30px;
}
.product-week__price {
  font-family: "Open Sans bold", sans-serif;
  font-weight: bold;
  color: #444;
  font-size: 17px;
  margin: 0;
  margin-top: 20px;
  margin-left: 97px;
}
.product-week__link {
  font-family: "Open Sans bold", sans-serif;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  color: #444;
  text-decoration: none;
  display: flex;
  margin-top: 26px;
  height: 48px;
  width: 255px;
  align-items: center;
  justify-content: center;
  margin-left: -67px;
  border: 2px solid #444;
}
