.product__title {
  font-family: "Open Sans bold", sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  margin: 0;
  margin-top: 28px;
  margin-left: 28px;
  align-self: flex-start;
  width: 200px;
}

.product__text {
  font-size: 13px;
  line-height: 30px;
  color: #444444;
  margin: 0;
  margin-top: 4px;
  margin-left: 28px;
  align-self: flex-start;
}

.product__text--price {
  font-family: "Open Sans bold", sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;
  margin-top: 41px;
}
