.product {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid #f1f1f1;
}

.product__wrap {
  padding: 22px 28px;
}

.product__image {
  width: 260px;
  height: 195px;
}

.product__title {
  font-size: 17px;
  line-height: 24px;
  margin: 0;
}

.product__text {
  font-size: 13px;
  line-height: 30px;
  margin: 3px 0 0;

  &--price {
    font-size: 15px;
    line-height: 24px;
    margin: 41px 0 5px;
  }
}

@media (min-width: 768px) {
  .product {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .product picture {
    display: flex;
  }

  .product__image {
    width: 334px;
    height: 334px;
  }

  .product__wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 1;
    padding: 26px;
  }

  .product__title {
    font-size: 20px;
    margin: 0;
  }

  .product__text {
    font-size: 15px;
    margin: 5px 0 0;

    &--price {
      font-size: 17px;
      margin: auto 0 0;
    }
  }
}

@media (min-width: 1150px) {
  .product {
    flex-direction: column;
  }

  .product__image {
    width: 316px;
    height: 462px;
  }

  .product__wrap {
    min-height: 170px;
    padding: 26px 32px 0 26px;
  }

  .product__text--price {
    padding: 25px 0 25px;
  }
}
