.promo-wrap:nth-child(1) {
  background-color: #56c3b2;
  background-image: url("../img/icon-interior.svg");
  background-repeat: no-repeat;
  background-position: 243px 22px;
}

.promo-wrap:nth-child(2) {
  background-color: #56c3b2;
  background-image: url("../img/icon-toy.svg");
  background-repeat: no-repeat;
  background-position: 233px 20px;
}

.promo-wrap__link {
  color: #ffffff;
  font-size: 19px;
  text-decoration: none;
  line-height: 24px;
  padding: 25px 120px 30px 28px;
  display: block;
}

@media (min-width: 768px) {
  .promo-wrap:nth-child(1) {
    background-position: 257px 29px;
    width: 50%;
  }

  .promo-wrap:nth-child(2) {
    background-position: 240px 32px;
    width: 50%;
  }

  .promo-wrap__link {
    font-size: 20px;
    line-height: 28px;
    padding: 30px 120px 31px 35px;
  }
}

@media (min-width: 1150px) {
  .promo-wrap:nth-child(1) {
    background-position: 446px 29px;
  }

  .promo-wrap:nth-child(2) {
    background-position: 430px 32px;
  }

  .promo-wrap__link {
    padding: 30px 310px 31px 35px;
  }
}
