.search {
  padding: 28px 0;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .search {
    padding: 46px 41px 41px 41px;
    position: absolute;
    top: 0;
    left: 321px;
    text-align: center;
    background-image: url("../img/icon-search.svg");
    background-repeat: no-repeat;
    background-position: 52% 52%;
  }

  .search__button {
    display: none;
  }

  .search__input {
    display: none;
  }
}

@media (min-width: 1150px) {
  .search {
    padding: 46px 41px 41px 41px;
    position: static;
    margin-left: 257px;
  }
}
