@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans.woff') format('woff'),
       url('../fonts/opensans.woff2') format('woff2');
       font-weight: normal;
       font-style: normal;
}
@font-face {
  font-family: 'Open Sans bold';
  src: url('../fonts/opensansbold.woff') format('woff'),
       url('../fonts/opensansbold.woff2') format('woff2');
       font-weight: bold;
       font-style: normal;
}
.reset-style-size{
	list-style: none;
	margin: 0;
  padding: 0;
}
.visually-hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(0 ,0 ,0 ,0);
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  color: #000;
  width: 320px;
}
.main-header {
  background-color: #fff;
  &__logo {
    height: 79px;
    display: flex;
    justify-content: center;
  }
  .main-nav {
    display: none;
    &__link {
      font-family: "Open Sans bold", sans-serif;
      font-size: 17px;
      font-weight: bold;
      color: #000;
      text-decoration: none;
      height: 79px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #ececec;
    }
    .recycle {
      font-family: "Open Sans bold", sans-serif;
      font-size: 17px;
      font-weight: bold;
      color: #000;
      text-decoration: none;
      height: 79px;
      display: flex;
      background-color: #ececec;
    }
    .search {
      height: 79px;
      display: flex;
    }
  }
  .promo {
    background-image: url(../img/hero-mobile@1x.jpg);
    background-repeat: no-repeat;
    background-color: #fafafa;
    background-size: auto;
    background-position: -128px -18px;
    display: flex;
    flex-direction: column;
    &__wright {
      font-family: "Open Sans bold", sans-serif;
      font-size: 27px;
      font-weight: bold;
      margin: 0;
      width: 250px;
      text-align: center;
      line-height: 30px;
      margin-top: 71px;
      margin-bottom: 122px;
      margin-left: 35px;
    }
    &__list {
      background-color: #63d1bb;
    }
    &__item {
      display: flex;
      height: 103px;
      img {
        margin-left: auto;
      }
    }
    &__link {
      font-family: "Open Sans bold", sans-serif;
      color: #fff;
      font-size: 19px;
      font-weight: bold;
      text-decoration: none;
      width: 110px;
      margin-left: 29px;
      margin-top: 25px;
      line-height: 24px;
    }
  }
}
.content {
  &__title {
    font-family: "Open Sans bold", sans-serif;
    font-size: 27px;
    font-weight: bold;
    line-height: 30px;
    margin: 0;
    background-color: #f1f1f1;
    text-align: center;
    padding: 73px 0;
  }
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    margin: auto;
    margin-top: 31px;
    margin-bottom: 58px;
    &__title{
      font-family: "Open Sans bold", sans-serif;
      font-size: 17px;
      font-weight: bold;
      line-height: 24px;
      margin: 0;
      margin-top: 28px;
      margin-left: 28px;
      align-self: flex-start;
      width: 200px;
    }
    &__text {
      font-size: 13px;
      line-height: 30px;
      color: #444;
      margin: 0;
      margin-top: 4px;
      margin-left: 28px;
      align-self: flex-start;
      &--price {
        font-family: "Open Sans bold", sans-serif;
        font-size: 15px;
        font-weight: bold;
        line-height: 24px;
        margin-top: 41px;
      }
    }
  }
  .product-week{
    &__title {
      font-family: "Open Sans bold", sans-serif;
      font-size: 25px;
      font-weight: bold;
      margin: 0;
      margin-top: 27px;
      margin-left: 30px;
      width: 253px;
      display: flex;
      flex-wrap: wrap;
      line-height: 30px;
    }
    &__status {
      font-size: 17px;
      color: #63d1bb;
      text-transform: uppercase;
      line-height: 30px;
    }
    &__description {
      color: #444;
      font-size: 15px;
      line-height: 24px;
      margin: 0;
      margin-left: 30px;
      margin-top: 17px;
      width: 260px;
    }
    .table-spec {
      color: #444;
      font-size: 15px;
      margin-top: 19px;
      border-collapse: collapse;
        &__row {
          height: 40px;
        }
        &__col {
          padding-left: 31px;
        }
    }
    &__image {
      margin-top: 28px;
      margin-left: 30px;
    }
    &__price {
      font-family: "Open Sans bold", sans-serif;
      font-weight: bold;
      color: #444;
      font-size: 17px;
      margin: 0;
      margin-top: 20px;
      margin-left: 97px;
    }
    &__link {
      font-family: "Open Sans bold", sans-serif;
      font-size: 17px;
      font-weight: bold;
      text-transform: uppercase;
      color: #444;
      text-decoration: none;
      display: flex;
      margin-top: 26px;
      height: 48px;
      width: 255px;
      align-items: center;
      justify-content: center;
      margin-left: -67px;
      border: 2px solid #444;
    }
  }
  .advantages {
    &__title {
      font-family: "Open Sans bold", sans-serif;
      font-size: 25px;
      font-weight: bold;
      margin: 0;
      margin-top: 67px;
      margin-left: 28px;
    }
    &__list {
      margin-top: 29px;
    }
    &__item {
      height: 124px;
      width: 280px;
    }
    &__image {
      margin-left: 30px;
    }
    &__description {
      font-family: "Open Sans bold", sans-serif;
      font-size: 17px;
      font-weight: bold;
      margin: 0;
      margin-top: 13px;
      margin-left: 29px;
      line-height: 20px;
    }
  }
}
.main-footer {
  background-color: #f1f1f1;
  .social {
    display: flex;
    width: 143px;
    justify-content: space-between;
    margin: auto;
    margin-top: 25px;
    align-items: center;
    &__link {
      display: flex;
    }
    &__image {

    }
  }
  .copyright {
    width: 182px;
    margin: auto;
    margin-top: 55px;
    font-family: "Open Sans bold", sans-serif;
    font-size: 19px;
    line-height: 18px;
    &__link {
      font-family: "Open Sans bold", sans-serif;
      font-size: 19px;
      font-weight: bold;
      display: flex;
      margin-left: 155px;
      margin-top: -23px;
    }
  }
}
