.table-spec {
  font-size: 15px;
  margin-top: 19px;
  border-collapse: collapse;
}

.table-spec__row {
  height: 40px;
}

.table-spec__col {
  padding-right: 37px;
}

@media (min-width: 768px) {
  .table-spec {
    margin-top: 37px;
    width: 41%;
  }

  .table-spec__col {
    padding: 0;
  }
}

@media (min-width: 1150px) {
  .table-spec {
    margin: 46px 0 0 39px;
    width: 35%;
  }
}
